.teaching-marks-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.add-mark-button {
  height: 100%;
  background: #f8b322;
  color: #212121;
  font-weight: 700;
  border: solid 2px transparent;
}

.add-mark-button:hover {
  border-color: #212121;
}

.add-mark-button-selected {
  background: #212121;
  color: #f8b322;
}

.add-mark-button-selected:hover {
  border-color: #f8b322;
}
